[Desktop Entry]
Name=Balena Etcher
Comment=Flash OS images to USB drives
Exec=/home/willy/Programs/balenaEtcher/balena-etcher
Icon=/home/willy/Iicons/balena-etcher.svg
Terminal=false
Type=Application
Categories=System;Utility;
PrefersNonDefaultGPU=false

