[Desktop Entry]
Version=1.0
Type=Application
Name=ONLYOFFICE Presentation
Comment=ONLYOFFICE Desktop Editors Microsoft PowerPoint Editor
Exec=/usr/bin/onlyoffice-desktopeditors --class=OnlyOfficePresentation --single-window-app --new=slide
Icon=/home/willy/Icons/onlyoffice-desktop-editors-presentation-icon.svg
Terminal=false
Categories=Office;Presentation;
StartupWMClass=OnlyOfficePresentation
Keywords=ppt;pptx;Presentation;PowerPoint;Slide;
PrefersNonDefaultGPU=false

