[Desktop Entry]
Version=1.0
Name=Google Gemini
Comment=Google's AI assistant
Exec=google-chrome-stable --app="https://gemini.google.com/app" --class=WebApp-Gemini8934 --name=WebApp-Gemini8934 --user-data-dir=/home/willy/.local/share/ice/profiles/Gemini8934 --start-maximized
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/home/willy/Icons/google-gemini-icon.svg
Categories=GTK;Network;
MimeType=text/html;text/xml;application/xhtml_xml;
StartupWMClass=WebApp-Gemini8934
StartupNotify=true
X-WebApp-Browser=Chrome
X-WebApp-URL=https://gemini.google.com/app
X-WebApp-CustomParameters=
X-WebApp-Navbar=false
X-WebApp-PrivateWindow=false
X-WebApp-Isolated=true
