[Desktop Entry]
Version=1.0
Name=Excalidraw
Comment=Whiteboard tool to easily sketch diagrams
Exec=google-chrome-stable --app="https://excalidraw.com/" --class=WebApp-Excalidraw3957 --name=WebApp-Excalidraw3957 --user-data-dir=/home/willy/.local/share/ice/profiles/Excalidraw3957 --start-maximized
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/home/willy/Iicons/excalidraw-logo.png
Categories=GTK;Graphics;
MimeType=text/html;text/xml;application/xhtml_xml;
StartupWMClass=WebApp-Excalidraw3957
StartupNotify=true
X-WebApp-Browser=Chrome
X-WebApp-URL=https://excalidraw.com/
X-WebApp-CustomParameters=
X-WebApp-Navbar=false
X-WebApp-PrivateWindow=false
X-WebApp-Isolated=true
PrefersNonDefaultGPU=false

