[Desktop Entry]
Version=1.0
Name=Whatsapp
Comment=Secure and Reliable Free Private Messaging and Calling
Exec=google-chrome-stable --app="https://web.whatsapp.com/" --class=WebApp-WhatsappWeb3204 --name=WebApp-WhatsappWeb3204 --user-data-dir=/home/willy/.local/share/ice/profiles/WhatsappWeb3204 --start-maximized
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=web-whatsapp
Categories=GTK;Network;
MimeType=text/html;text/xml;application/xhtml_xml;
StartupWMClass=WebApp-WhatsappWeb3204
StartupNotify=true
X-WebApp-Browser=Chrome
X-WebApp-URL=https://web.whatsapp.com/
X-WebApp-CustomParameters=
X-WebApp-Navbar=false
X-WebApp-PrivateWindow=false
X-WebApp-Isolated=true
Name[en_US]=Whatsapp

