[Desktop Entry]
Name=Zen Browser
Exec=/home/willy/Programs/zen/zen
Icon=/home/willy/Programs/zen/browser/chrome/icons/default/default128.png
Type=Application
Categories=Network;WebBrowser;
Terminal=false
