[Desktop Entry]
Name=Zen Browser
Exec=/opt/zen/zen
Icon=/opt/zen/browser/chrome/icons/default/default128.png
Type=Application
Categories=Network;WebBrowser;
Terminal=false

