[Desktop Entry]
Name=Betterbird
Comment=Betterbird Email Client
Exec=/opt/betterbird/betterbird %u
Icon=/opt/betterbird/chrome/icons/default/default128.png
Terminal=false
Type=Application
Categories=Network;Email;
StartupWMClass=betterbird

